<div class="header">
      <div class="text-center">
        <%= render 'menu' %>
      </div>
</div>
<div class="container">
	<div class="row">
	<br>
	<br>
    <div class="text-center">
    <br><br>
    <br><br>
		<h10 class="textoeslogan1 text-center padingall ">Contactanos</h10><br><br>
        <div class="wow bounceInDown">
        <span style="padding-left: 1em;"><a href="https://github.com/GedGonz"><%= image_tag "github.png",:alt => "Ged Gonz", :title => "Ged Gonz", class:"wow slideInLeft tamanioImag2"%></a> </span>
        <span style="padding-left: 1em;"><a href="https://plus.google.com/100260281819303854338"><%= image_tag "google+.png",:alt => "gedgonz7@gmail.com", :title => "gedgonz7@gmail.com", class:"wow slideInLeft tamanioImag2"%> </a></span>
        <span style="padding-left: 1em;"><a href="https://www.facebook.com/gerald.gonzalezzeledon"><%= image_tag "facebooklogo.png",:alt => "heroedelsielensio7@hotmail.com", :title => "heroedelsielensio7@hotmail.com", class:"wow slideInLeft tamanioImag2"%></a></span><br><br>
        </div>


    </div>
	</div>
	
</div>