 <nav class="navmenu text-center">

	    <%=link_to 'Incio', controller:'welcome', action:'index'%>
	    <%=link_to 'Login', controller:'login', action:'loginIn'%>
	    <%=link_to 'About', controller:'welcome', action:'index'%>
	    <%=link_to 'Contacto', controller:'welcome', action:'index'%>

  </nav>