<nav class="navmenu">
	  	<%=link_to 'Incio', controller:'articulo', action:'index'%>
	  	<%=link_to 'Crear', controller:'articulo', action:'new'%>
	  	<%=link_to 'Articulos', controller:'articulo', action:'list'%>
	  	<%=link_to 'Logout', controller:'articulo', action:'logout'%>
	  </nav>