<div class="header"></div>
<div class="container">
	<div class="col-md-12 text-center">
	 <p class="textoeslogan2 " >
        Bienvenido <span class="titleLogin2"><%=@usuario.nombre+" "+@usuario.apellido%></span>
        </p>
	  <a href="/">
		<%= image_tag "Logo2.png", :alt => "TejidoDigital", :title => "TejidoDigital",class:"wow slideInLeft tamanioImag saltos"%>
	  </a>
	  <p class="textoeslogan1 padingall wow fadeIn" data-wow-delay="0.5s">
	   Inovacion y Desarrollo en tus Manos
	   </p>
       <p class="textoeslogan2 wow bounceInDown" data-wow-delay="0.6s">
        Somos una Empresa de Solucion a sus Necesidades
        </p>
		      

	  <%= render 'menu' %>
	</div>
</div>