<div class="header">
	  <div class="text-center">
	  	<%= render 'menu' %>
	  </div>
</div>
<div class="container">
<div class="row">
		<h2 class="titleLogin1 padingall wow fadeInUp">ARTICULO-<span class="titleLogin2">RUBY ON RAILS</span></h2>
</div>


	<div class="panel panel-default">
		<div class="panel-heading ">
			<h10 class="textoeslogan1"><a href="/articulo/public">RUBY ON RAILS</a></h10>
		</div>
		<div class="panel-body">
		<span class="textListitle">Autor: </span> Ged<br>
		<span class="textListitle">Descripcion: </span>Nada<br>
		<span class="textListitle">Publicacion: </span>2016-02-01
		</div>
		
	</div>
<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
				<%=render "comentario/formcoment" %>
				</div>
			</div>
		</div>
		
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4"></div>
</div>
</div>