<!DOCTYPE html>
<html>
<head>
  <title>Appinci</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
<script type="text/javascript">
	new WOW().init();
	$('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 15
  });
</script>

<script> $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });</script>

</head>
<body>

<%= yield %>

</body>
</html>
