<!DOCTYPE html>
<html>
<head>
  <title>Appinci</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  	new WOW().init();
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
